<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用layui</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>

<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item" id="register"><a href="">注册</a></li>
    <li class="layui-nav-item layui-this"><a href="">登录</a></li>
    <li class="layui-nav-item"><a href="">浏览</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">社区</a></li>
</ul>

<script src="../layui/layui.js"></script>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script>
<!--$(document).on('click','#register',function(){-->
<!--location.href="register.html";-->
<!--});-->
$(function(){
})
</script>
</body>
</html>